#Amarelo:hover {
    background-color: yellow;
}

#Vermelho:hover {
    background-color: brown;
}

#Azul:hover {
    background-color: darkblue;
}

#Laranja:hover {
    background-color: darkorange;
}

#Roxo:hover {
    background-color: darkorchid;
}