#titulo {
  text-align: center;
}

#sobre {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-size: 15px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

#lastDiv {
  text-align: center;
}
